.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.preview {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.label {
  margin: 5px;
}

.input {
  width: 200px;
  margin: 5px;
}

.value {
  margin: 5px;
}